.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  text-align: left;
}

select {
  font-size: 18pt;
  margin-top: 10px;
}

.side-by-side {
  display: flex;
  justify-content: center;
  margin: 0 25px;
}

.columns {
  display: flex;
  flex-direction: column;
}

.instructions {
  margin: 50px 0 0 15px;
}

.piece-select span {
  margin: 10px 10px 0 0;
}

ul.legend {
  list-style: none;
  text-align: left;
}

.legend li {
  font-size: 18pt;
  margin-top: 5px;
}

.legend li span {
  margin-right: 10px;
}
